     <h1>Product: {{title}}</h1>
    <h2>€{{price}}</h2>

    {{#if imgSrc}}
    <img src="/images/{{imgSrc}}" alt="a bottle of {{title}}" />
    {{else}}
    <p>Image not found</p>
    {{/if}}

    {{#if stores}}
    <h3>This product is avaialable in the following stores:</h3>
    <ul>
        {{#each stores}}
        <li><a href="#">{{this}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <h3>This product is currenly unavailable</h3>
    {{/if}}