<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IronSpirits</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="./about">About</a>
            </li>
            <li>
                <a href="./contact">Contact</a>
            </li>
        </ul>
    </nav>

    <h1>Product: {{title}}</h1>
    <h2>€{{price}}</h2>

    {{#if imgFile}}
    <img src="/images/{{imgFile}}" alt="a bottle of {{title}}" />
    {{else}}
    <p>Image not found</p>
    {{/if}}

    {{#if stores}}
    <h3>This product is avaialable in the following stores:</h3>
    <ul>
        {{#each stores}}
        <li><a href="#">{{this}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <h3>This product is currenly unavailable</h3>
    {{/if}}

</body>

</html>